  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Odih
        <span class="text-primary">Nurzaman</span>
      </h1>
      <div class="subheading mb-5">Bandung, West Java, Indonesia·
        <a href="odihnurzaman@gmail.com">odihnurzaman@gmail.com</a>
      </div>
      <p class="mb-5">I am a management graduate informatics who have a passion for the world of information technology, like the challenge, never give up, quickly learning new things with interpersonal skills and good organization. I have an interest in the world of IT and computer such as, social development media marketing, ICT, programmers, digital image editing and Performance Management as well as traveling. My long-term career goal is to become a Human Resources professional and to provide added value to people, organizations, and communities and can contribute to the development of the technology world.</p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://web.facebook.com/odhnurzaman">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/Odzan_io">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/odih-nurzaman/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Marketing</h3>
          <div class="subheading mb-3">StreetGourmet Bandung</div>
          <p>1. Make an offer visit</p>
             <p> Marketing visits to Institutions, Companies, Hotels and more directly to offer, both menu offers and cooperation in the field of marketing.</p>

              <p>2. Determine the promotional media used</p>
              <p>determining the best promotional medium that will be used as a work tool to make an offer. Media campaigns can be Brochures, Leaflets, Ads in newspapers and more</p>

              <p>3. Coordinate orders with all related parties</p>
              <p>coordinate all orders received from customers to all related parties in the restaurant, from Supervisor / Captain / Chief Cook, Cashier, Chef and other related parties</p>

             <p> 4. Making program innovation on an ongoing basis</p>
              <p>make program innovations on an ongoing basis.</p>

             <p> 5. Input customer database</p>
              <p>Customer database is a valuable asset for marketing, therefore, marketing is required to have a customer database and input it to a computer and / or record it in an expedition book</p>

              <p>6. Fill out the Marketing visit book</p>
              <p>Book marketing visit is a written proof for marketing in carrying out their daily activities, whether while in the restaurant, or while in the field</p>

              <p>7. Writing Logbook Marketing</p>
              <p>To document important things, memos and more, marketing is required to complete the marketing logbook every day.</p>

              <p>8.Capture customers on social media</p>
             <p> Media or social networks like Google Plus, Facebook, Twitter, Instagram, Linkedin and more, are strategic places to capture customers with promotions, and lure emotional customer engagement to grow loyalty.</p>

              <p>9.Covering the ongoing event in the restaurant</p>
              <p>Online Marketing also served to cover and preach any events or events that are taking place in the restaurant online..</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Oktober 2017 - November 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Account Executive</h3>
          <div class="subheading mb-3">PT Global Future Technologies (Gloftech)</div>
          <p>Roles and Responsibilities</p>
            <p>• Establish professional and productive relationships with clients</p>
            <p>• Understand and master the company's products</p>
            <p>• Conduct product presentations to prospective clients</p>
            <p>• Build good communication with clients</p>
            <p>• Help clients make marketing campaigns attractive, effective, and enhance the company's brand image to customers and potential customers</p>
            <p>• Provide feedback and recommendation of promotional / advertising strategies for clients based on trend analysis and market conditions in accordance with client core business</p>

            <p>Responsibility to manage existing major accounts with new prospect projects, develop and create new prospect Accounts project,
            build new network and follow up new lead,
            mediate between sales goals and customer expectations,
            close deal and manage a project</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">April 2017 - Juni 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Training Development specialist</h3>
          <div class="subheading mb-3">Archon 8 Technologies</div>
          <p>The duties of the Developer Department include:</p>
              <p>1.Training Basic IOS Development with Swift and xcode.</p>
              <p>2.create restaurant menu app with xcode.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">September 2016 - November 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Field Practice (SDM Division) </h3>
          <div class="subheading mb-3">PT INTI (persero)</div>
          <p>The duties of the Field Practice include:</p>
              <p>1.Helping Division SDM and Research.</p>
              <p>2.conduct research.</p>
              <p>2.collect research data.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Juni 2011 - September 2011</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Engineer</h3>
          <div class="subheading mb-3">D'Tuik Cafe & Resto</div>
          <p>The duties of the Engineering Department include:</p>
              <p>1. maintenance and repair of all installations, machine tools, buildings and other cafe facilities.</p>
              <p>2. saving energy in using all purposes.</p>
              <p>3. handling tools, machinery and other installations using electricity, gas and water.</p>
              <p>4. prevent installations, machinery, equipment and buildings against fire hazards and any dangerous situations.</p>
              <p>5. prepare water, gas and electricity regularly and report it.</p>
              <p>6. handle common work such as, paint, etc.</p>

              <p>Engineering Department's main responsibilities:</p>
              <p>1. electricity</p>
              <p>2. piping</p>
              <p>3. heating, ventilation, air conditioning and refrigerators</p>
              <p>4. maintenance and repair as a whole.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Januari 2009 - September 2009</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Engineer</h3>
          <div class="subheading mb-3">CV Ina Cookies</div>
          <p>The duties of the Engineering Department include:</p>
              <p>1. maintenance and repair of all installations, machine tools, buildings and other factory facilities.</p>
              <p>2. saving energy in using all purposes.</p>
              <p>3. handling tools, machinery and other installations using electricity, gas and water.</p>
              <p>4. prevent installations, machinery, equipment and buildings against fire hazards and any dangerous situations.</p>
              <p>5. prepare water, gas and electricity regularly and report it.</p>
              <p>6. handle common work such as, paint, etc.</p>

              <p>Engineering Department's main responsibilities:</p>
              <p>1. electricity</p>
              <p>2. piping</p>
              <p>3. heating, ventilation, air conditioning and refrigerators</p>
              <p>4. maintenance and repair as a whole.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Mart 2009 - August 2009</span>
        </div>
      </div>

    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Politeknik Piksi Ganesha</h3>
          <div class="subheading mb-3">Diploma III</div>
          <div>Computer Science - Informatic Management</div>
          <p>GPA: 3.00</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Juni 2010 - Desember 2012</span>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicons devicons-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-css3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-ruby_on_rails"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-ruby"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-swift"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-bootstrap"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-atom"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-postgresql"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-heroku"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-sublime"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-git"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-bitbucket"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-jquery"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-linux"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Others</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Photoshop</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          After Effect</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Premier Pro</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Web Scrapping</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Ms.Office</li>
      </ul>
    </div>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Content video marketing</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Functional Teams</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Web e-commerce Development with Ruby on Rails</li>
      </ul>
    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">Interests</h2>
      <p>Aside from being a web developer, I enjoy most of my time outdoors. In summer, I am a beginner climber. I like touring with my old motorcycle collection with my friends. besides that i love photography architecture and travel.</p>
      <p class="mb-0">When forced indoors, I followed a number of science fiction and fantasy movies and television shows, I was a chef candidate for myself :D, and I spent much of my free time exploring the latest technological advancements in the world of front-end ,back- end web development and social media.</p>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Basic IOS Developer with swift</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Certificate Of Competence Nihon Go (Japanese language)</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          ICT Certifikat Of Competence Junior Programmer </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Certificate Of Accomplishment</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Desktop Application Training Professional Level</li>
        <li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Completing Table Manner</li>
      </ul>
    </div>
  </section>



